@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

h3 {
    font-weight: 100;
}

header {
    padding: 2rem 0;
    background-color: #c51f57;
    color: white;
    margin-bottom: 4rem
}

button {
    background-color: #c51f57;
    border: none;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    margin-bottom: 4rem;
}

.wotd {
    margin-bottom: 1rem;
}